html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.underline-pink {
    text-decoration: underline #FE85CD;
}

.btn-pink {
    background-color: #ff69b4 !important;
    border-color: #ff69b4 !important;
    color: white !important;
}

.btn-pink:hover {
    background-color: #ff1493 !important;
    border-color: #ff1493 !important;
}