html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.quad{
    background-color: #FE85CD;
    height: 250px;
    width: auto;
}