html, body {
    height: 100%;
    margin: 0;
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.underline-pink {
    text-decoration: underline #FE85CD;
}

.btn-pink {
    background-color: #ff69b4 !important;
    border-color: #ff69b4 !important;
    color: white !important;
}

.btn-pink:hover {
    background-color: #ff1493 !important;
    border-color: #ff1493 !important;
}

.titulo {
    font-weight: bold;
    color: #FE85CD;
}

.flashcard {
    position: relative;
    height: auto;
    perspective: 1000px;
}

.flashcard img {
    transition: transform 0.6s;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flashcard-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FE85CD;
    border-radius: 100%;
    transform: rotateY(180deg);
    opacity: 0;
    transition: opacity 0.6s, transform 0.6s;
    padding: 20px;
    text-align: center;
    backface-visibility: hidden; /* Adicione esta linha */
}

@media (max-width: 768px) {
    .flashcard-content h5 {
        font-size: 14px; /* Defina o tamanho da fonte menor para mobile */
    }
}

.flashcard:hover img {
    transform: rotateY(180deg);
}

.flashcard:hover .flashcard-content {
    opacity: 1;
    transform: rotateY(0deg); /* Adicione esta linha */
}

.carousel-caption {
    color: black; /* Texto preto */
    font-size: 1.5rem; /* Aumentar a fonte */
    position: absolute;
    text-align: center; /* Centraliza o texto */
}

.title {
    font-size: 2rem; /* Tamanho do título maior */
    font-weight: bold; /* Negrito */
    color: #ff69b4;
}

.description {
    font-size: 1.25rem; /* Tamanho do texto do parágrafo */
    color: black;
}

  
